# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
env/

# Uploads and generated content
uploads/
static/processed/
static/thumbnails/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Generated folders
/uploads/
/input_images/
/output_images_with_boxes/
/face_thumbnails/ 

# Test data
/test-data/
