# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Generated folders
/uploads/
/input_images/
/output_images_with_boxes/
/face_thumbnails/ 